@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/Header.jpg);
    background-size: cover;
}

nav{
    background-color: #fff;
    padding: 3px;

}

#datos{
    background-color: ;
    padding: 15px;
    display:grid;
}

ul li{
    display: inline;
}

ul li a{
    color: #0F752D;
    padding-right: 20px;
    text-decoration: none;    
}

ul span{
    color: #0F752D;
    font-weight: 700;
    padding: 20px;
}


.perfil{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
}

section{
    margin-left: 10%;
    margin-right: 10%;
}


section h2{
    font-family: ;
    color: #0F752D;
    font-variant-caps: all-petite-caps;
    background-color: #fff;
    padding-left: 10px;
}


.datosPersonales{
    font-style: italic;
    font-weight: bold;
    color: #fff;
}

.respuesta{
    color:#fff;
    font-weight: normal;
}

.fecha{
    color:#fff;
    font-weight: bold;
}

.texto{
    color:#fff;
    font-weight: normal;
}

.sangria{
    color:#fff;
    padding-left:150px;
    font-weight: normal;
}

/*Sobre mi*/

.selfie{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

p{
    color: #fff;
}

button{
    background-color: #0F752D;
    color:#fff;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    display: flex;
    font-size: 16px;
}

.visitar{
    text-decoration: none;
}

footer{
    position: bottom;
    background-color: #fff;
    color: #0F752D;
    text-align: center;
    padding: 15px;
}

i{
    margin-left: 10px;
}

footer a{
    font-family: 'Roboto', sans-serif;
    color: #0F752D;
    text-decoration: none;
}
